.Pokecard{
    background-color: white;
    margin: 0px 50px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);}

.Pokecard-name{
font-size: medium;
font-weight: 500;
margin-bottom: 8px;
}

.Pokecard-type{
    font-size: small;
}
.Pokecard-exp{
    font-size: small;
}

.Pokecard-img{
    width: 125px;
} 

/* [1] The container */
.img-hover-zoom {
    width: 150px;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    background-color: lightgray;
    margin: 5px;
    padding: 5px 20px;

  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.25);
  }